* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-family);
    color: var(--color-text);
    line-height: 1.5;
    background-color: var(--color-white);
  }

.nav-bar {
    width: 100%;
    height: 75px;
    display: flex;
    position: sticky;
    top: 0%;
    z-index: 1000;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .nav-bar ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  .gift-nav {
    padding-bottom: 10px;
    border-bottom: 2px solid #00754a;
  }
  .nav-bar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    text-spacing-trim: space-first;
    font-weight: 500;
    font-family: SoDoSans_Light, Helvetica, sans-serif !important;
  }

  .nav-bar ul li a:active {
    color: #00754a;
    border-bottom: 3px solid #00754a;
  }

  .nav-bar ul li a:hover {
    color: #00754a;
  }
  .search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-right: 0%;
    width: 280px;
  }

  .search-box img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }

  .search-box input {
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 100px;
    width: 100%;
    padding: 10px 16px 10px 40px;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
  }

  .search-box input::-webkit-input-placeholder {
    font-size: 12px;
    color: #999999;
    font-family: SoDoSans_Light, Helvetica, sans-serif !important;
  }

  .search-box input:focus {
    outline: none;
    border: 1px solid #312020;
  }

  input::placeholder:active {
    transition: opacity 0.5s ease-in-out;
  }

  .profile {
    margin-right: 0%;
  }

  .profile a img {
    width: 24px;
    height: 24px;
  }
  .logo {
    width: 40px;
    height: 40px;
    margin-left: 5%;
  }
.header{
    background-color: rgb(19, 112, 80);
    height: 7vh;
    width: 100%;
    border: 1px solid  rgb(19, 112, 80);
    display: flex;
    margin-bottom: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}
.herosection{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0px;
    padding: 0px;
}
.heroimg{
    background-image: url("../img/corporate/Website_da8fcb4eb4.webp");
    height: 400px;
    width: 100%;
    position:relative;
    z-index: -100000;
    padding: 0px;
    margin: 0px;
}
.herotext{
   position: absolute;
   color: white;
   padding-left: 100px;
   padding-top: 150px;
}
button{
    height: 40px;
    width: 90px;
    background-color: white;
    border: 1px solid white;
    border-radius: 18px;
}
.heropara{
    padding:20px;
}
.box{
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    display: inline-block;
    width: 350px;
    background-color: white;
}
.box img{
    width: 100%;
    height: 60%;
    padding: 0%;
    margin: 0%;
    contain: cover;
    border-radius: 10px 0 0 0; 
}
.gifts{
    background-color: rgb(214, 213, 213);
    height:50%;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.giftcontainer{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-left:150px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
} 
.giftcard{
    background-color: rgb(234, 233, 233);
    height: 150px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.giftimg{
    width: 120px;
    height: 120px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gifttext{
    margin-left: 30px;
    font-size: small;
}
.Program{
    background-color: rgb(214, 213, 213);
    height:50%;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.event{
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    display: inline-block;
    width: 350px;
    background-color: white;
}
.footer {
    background-color: #0e382c;
    color: #fff;
    padding: 60px 40px 30px;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
  }

  .footer-col-main {
    display: flex;
    gap: 100px;
    margin-top: 50px;

  }

  .footer-logo {
    width: 60px;
    margin-left: 20px;
  }

  .footer-col h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .footer-col ul li {
    margin-bottom: 16px;
  }

  .footer-col ul li a {
    font-size: 14px;
    color: #e0e0e0;
    transition: color 0.2s;
  }

  .footer-col ul li a:hover {
    color: #fff;
  }

  .social-links {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }

  .social-links img {
    width: 32px;
    height: 32px;
  }

  .app-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .app-links img {
    height: 40px;
    width: auto;
  }

  .footer-row {
    display: flex;
    gap: 20px;
  }

  .footer-row-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.footer-bottom {
  border-top: 1px solid #666;
  padding-top: 20px;
}

.footer-bottom ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  font-size: 12px;
}

.footer-bottom li {
  padding-right: 20px;
  border-right: 1px solid #666;
}

.footer-bottom li:last-child {
  border-right: none;
  margin-left: auto;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.footer-bottom a:hover {
  color: #a0a0a0;
}

.copyright {
  font-size: 10px;
  text-align: right;
}
a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
  }
li,h3{
    padding: 10px;
}
.col{
    color: white;
}
.icon{
    background-color:  rgb(8, 53, 38);
    height: 350px;
    width: 100%;
    padding-top: 120px;
   
}
.media{
    display: flex;
    flex-direction: row;
    height:250px;
    width: 500px;
    padding-top: 0px;
    padding-left: 50px;
    gap: 30px;
}
.footertext{
    display: flex;
    flex-direction: row;
    font-size: small;
}
.app{
    display: flex;
    flex-direction: column;
}
.event p{
    padding: 20px;
    font-weight: 100;
}
.event h3{
    position: relative;
}